<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokémon Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(pokemonInfo && pokemonInfo.sprites) {
  <ion-row class="ion-justify-content-center content-wrapper">
    <ion-col size="12" size-md="8" size-lg="6" class="pokemon-card__stats">
      <ion-card>
        <img alt="pokemonInfo.name" [src]=" pokemonInfo.sprites" />
        <ion-card-header>
          <ion-card-title class="ion-text-capitalize ion-text-center"
            >{{ pokemonInfo.name}}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <ion-button
            color="dark"
            slot="end"
            class="ion-margin-bottom ion-text-capitalize"
          >
            Favorite
            <ion-icon name="heart" aria-hidden="true" color="danger"></ion-icon>
          </ion-button>
          <ion-title>Stats:</ion-title>
          <ion-list>
            @for (stat of pokemonInfo.stats; track pokemonInfo.id) {
            <ion-item class="ion-text-center">
              <ion-label>{{ stat.stat.name}} : </ion-label>
              <ion-label>{{ stat.base_stat}} </ion-label>
            </ion-item>
            }
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="8" size-lg="6" class="pokemon-card">
      <ion-card>
        <ion-card-content>
          <ion-list class="pokemon-card__info">
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="pokemon-card__title"> Height: </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="pokemon-card__value"
                >{{ pokemonInfo.height}}</ion-label
              >
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="pokemon-card__title"> Weight:</ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="pokemon-card__value">
                {{ pokemonInfo.weight}}</ion-label
              >
            </ion-item>
            <ion-item lines="none" class="ion-text-center pokemon-card__title">
              <ion-label class="ion-text-center"> Abilities: </ion-label>
            </ion-item>
            <ion-list class="pokemon-card__ability__container">
              @for (ability of pokemonInfo.abilities; track pokemonInfo.id){
              <ion-item
                lines="none"
                class="ion-text-center pokemon-card__ability"
                color="none"
              >
                <ion-label
                  class="ion-text-capitalize pokemon-card__ability__name"
                >
                  {{ ability.ability.name}}
                </ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-list>
          <ion-list>
            <ion-item lines="none" class="ion-text-center">
              <ion-label class="ion-text-center"> Type: </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              @for (type of pokemonInfo.types; track pokemonInfo.id){
              <ion-label
                class="ion-margin ion-text-capitalize pokemon-card__type"
              >
                {{ type.type.name}}
              </ion-label>
              }
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  } @else {
  <p>Loading...</p>
  }
</ion-content>
