.content-wrapper {
  margin: 0 auto;
  background-color: #191919;
  @media (min-width: 992px) {
    padding: 0 2rem;
  }
}

.arrow-back__button {
  font-size: 2rem;
  --box-shadow: none;
  --background: none;
  border: none;
  color: red;
  padding-left: 0.5rem;
}
ion-col.pokemon-card__stats {
  > ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-card-header ion-card-title {
      font-size: 2rem;
      color: #fff;
    }

    ion-list {
      border-radius: 0.5rem;
    }
    ion-card-content {
      --ion-item-background: #fff;
      ion-title {
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      ion-list ion-label {
        color: #262626;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  > ion-card img {
    margin: auto;

    @media (min-width: 992px) {
      max-width: 360px;
    }
  }
}

ion-col.pokemon-card {
  > ion-card,
  ion-card-content {
    --ion-item-background: none;
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;

    ion-list {
      --ion-item-background: var(--ion-item-background);
      margin: 0 0 1rem 0;
    }

    ion-list.pokemon-card__info {
      --ion-item-background: #72bcd4;
    }

    .pokemon-card__ability__container {
      background: none;
      display: flex;
      flex-wrap: wrap;
      .pokemon-card__ability {
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem;
        flex: 1 1 auto;
      }

      .pokemon-card__ability .pokemon-card__ability__name {
        background-color: #f8de7e;
        border-radius: 0.5rem;
        padding: 2rem;
        font-size: 1rem;
        color: #191919;
        font-weight: bold;
      }
    }
  }

  .pokemon-card__title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .pokemon-card__value {
    color: #191919;
    font-weight: bold;
  }

  .pokemon-card__type {
    background: #72bcd4;
    font-weight: bold;
    color: #262626;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
@media (min-width: 1440px) {
  .content-wrapper {
    width: 60%;
  }
}
